<div id="main-wrapper">



<!--  <div class="page-wrapper">-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; Container fluid  &ndash;&gt;-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    <div class="container-fluid">-->
<!--      &lt;!&ndash; <app-banner-content></app-banner-content>       &ndash;&gt;-->

<!--      <div class="blog-home2">-->


          <app-sidebar></app-sidebar>





<!--      </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; End Container fluid  &ndash;&gt;-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; Back to top &ndash;&gt;-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--&lt;!&ndash;    <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>&ndash;&gt;-->
<!--  </div>-->

<!--  <app-footer></app-footer>-->

</div>

