<form >
  <div id="anadiv">

    <div class="form-group" style="width: 100%" >
      <input required class="form-control " type="file" accept="image/*"
             (change)="picked($event,1)"
             style="height: 60px;color: black"
             [(ngModel)]="imgng" name="pimg" #img="ngModel"
             placeholder="ImageURL">

      <div class="alert alert-danger " *ngIf="!img.valid && !img.untouched" style="height: 30px;">Bu alan zorunludur.</div>
    </div>
    <div class="form-group" style="width: 500px">
      <textarea class="form-control" id="postformtextarea " [(ngModel)]="texttng" name="ptext" #txt="ngModel" rows="3" placeholder="Yazı"></textarea>
    </div>
    <div class="justify-content-center align-items-center d-flex col-12">
      <button mat-raised-button id="button" (click)="addPerson();"
               [class.spinner]="loading" [disabled]="loading"
               class="btn btn-primary" style="">KAYDET
        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
    </div>
  </div>
</form>

