<div class="topbar" id="top" style="background: black">
    <div class="header">

        <div class="container po-relative " style="margin-top: 0px; opacity:100%;color: white">
            <nav class="navbar navbar-expand-lg h6-nav-bar" routerLink=" ">
<!--                <a class="navbar-brand" routerLink="">-->
<!--                    <img src="assets/images/logos/white-text.png" alt="wrapkit" />-->
<!--                </a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"-->
<!--                    aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="ti-menu"></span>-->
<!--                </button>-->
              <a routerLink='/'><img style=";width: 110px;height: 110px" src="/assets/images/logos/Mlogo.png" alt="M Logo"></a>

                <app-banner-navigation class="ml-auto"></app-banner-navigation>

            </nav>

        </div>

    </div>
</div>
