<div class="topbar" id="top" style="background: black">
    <div class="header">

        <div class="container po-relative justify-content-center align-items-center d-flex" style="margin-top: 20px; opacity:100%;color: white">
            <nav class="navbar navbar-expand-lg h6-nav-bar" >
<!--                <a class="navbar-brand" routerLink="">-->
<!--                    <img src="assets/images/logos/white-text.png" alt="wrapkit" />-->
<!--                </a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"-->
<!--                    aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="ti-menu"></span>-->
<!--                </button>-->Anasayfa
                <app-banner-navigation class="ml-auto"></app-banner-navigation>

            </nav>

        </div>

    </div>
</div>
