<div class="topbar" id="top" style="background: black">
  <div class="header">

    <div class="container po-relative" style="margin-top: 10px; opacity:100%;color: white">
      <nav class="navbar navbar-expand-lg h6-nav-bar">
        <a routerLink="/" class="list-group-item text-dark">Anasayfa</a>
        <div class="dropdown" style="left:1000px">
          <button class="dropbtn">Ekle</button>
          <div class="dropdown-content">
            <a routerLink="./sliderform" class="text-light" >Slider Ekle</a>
            <a routerLink="./postform" class="text-light">Post Ekle</a>
          </div>
        </div>

      </nav>


    </div>

  </div>
</div>
