<form #form="ngForm" (ngSubmit)="submitForm(form)">
  <div id="anadiv">
    <div class="bg-danger text-white p-3 my-2" *ngIf="formSubmitted&&form.invalid">Bir hata oluştu. Lütfen Girdiğiniz Bilgileri kontrol ediniz.</div>

    <!--      <div class="alert alert-danger " *ngIf="!id.valid && !id.untouched" style="height: 30px;font-size: 15px" [ngClass]="{ 'is-invalid': contactForm.submitted && id.invalid }"></div>-->
      <div class="form-group " style="width: 100%" >
        <mat-toolbar>
          <input required class="form-control file-input" type="file"
                 accept="image/*" style="height: 60px;color: black"
                 (change)="picked($event,1)" id="file"
                 [(ngModel)]="sliderURL" name="pimg" #img="ngModel"
                 placeholder="ImageURL">
        </mat-toolbar>
        <div class="alert alert-danger " *ngIf="(formSubmitted||img.dirty)&&img.invalid" style="height: 30px;">Bu alan zorunludur.</div>
      </div>
    <div>
      <input name="pdate" #date="ngModel"
             [(ngModel)]="sliderdate" class="form-control"
             type="datetime-local" step="1">
      <div class="alert alert-danger " *ngIf="(formSubmitted||!date.untouched)&&!date.dirty" style="height: 30px;">Bu alan zorunludur.</div>
    </div>
      <div class="justify-content-center align-items-center d-flex col-12">
        <button mat-raised-button type="submit"
                [class.btn-secondary]="formSubmitted&&form.invalid" [disabled]="formSubmitted&&form.invalid"
                id="button" (click)="addSlider()"
                class="btn btn-primary" style="">KAYDET
          </button>
      </div>
    </div>
</form>


