.anadiv{
  background-color: #fff5e7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


}
#cardd{
  background-color: #f6f1ff;
}
.backgroundclass{
  background-color: #3e4555;
  margin-right: 100px;
  margin-top: 5px;
  width: 50%
}
