
  <div class="anadiv">
    <div class="container py-3 p-5 card mb-4 box-shadow">

<div class="row" >
        <p  style="color: red;font-size: 30px;">{{titleng}}</p>
    </div>


    <div class="row" >
<div style="width: 100%" class="mb-5">
          <img src="{{imgagesrc}}" style="float: right;height:300px;position: relative;background-color: #1dc8cc"
               alt="Card image cap">
    </div>



          <div class="card-text ">
            <p class="card-text"><span style="color:black;">{{textt}}</span></p>




            <p style="width: 100%;text-align: right" ><span style="text-align:right;color: red;opacity: 50%">{{dateng|date:'d MMMM':'':'tr-TR'}}</span></p>
          </div>


    </div>
  </div>
</div>
