<div class="anadiv">
  <div id="cardd" class="card py-4 mb-4" style="max-width: 80%">
    <div class="row no-gutters">
    <div class="col-md-4">

      <img class="card-img" src="{{imgagesrc}}" style="width: 480px;float: right;height:300px;position: relative;background-color: #1dc8cc"
           alt="Card image cap">

    </div>


    <div class="col-md-8">
    <div class="card-body">
      <p class="card-title" style="color: red;font-size: 30px;">{{titleng}}</p>
      <p class="card-text mt-4 scroll"><span style="color:black;">{{textt}}</span></p>



      <p class="card-text" style="font-size: 15px">
        <small class="text-muted">{{dateng|date:'d MMMM':'':'tr-TR'}}</small></p>


    </div>

  </div>
    </div>
  </div>



</div>

