

<div class="d-flex mt-5" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <div class="list-group list-group-flush">
      <a routerLink='table' class="list-group-item list-group-item-action bg-light">Sliders</a>
      <a routerLink="#" class="list-group-item list-group-item-action bg-light">Posts</a>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->


  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="mt-4 ml-3">Hoşgeldiniz</h1>
<router-outlet></router-outlet>
    </div>
  </div>
</div>

